<!DOCTYPE html>
<html>
<head>
    <title>Pridėti filmą</title>
</head>
<body>
    <h1>Pridėti naują filmą</h1>

    {% if klaida %}
        <p style="color:red;">{{ klaida }}</p>
    {% endif %}

    <form method="POST">
        <label>Pavadinimas:</label><br>
        <input type="text" name="pavadinimas"><br><br>

        <label>Žanras:</label><br>
<select name="zanras_id" style="width: 177px; padding: 1px 2px;">
    {% for zanras in zanrai|sort(attribute='pavadinimas') %}
        <option value="{{ zanras.id }}">{{ zanras.pavadinimas }}</option>
    {% endfor %}
</select><br><br>

        <label>Režisierius:</label><br>
        <input type="text" name="rezisierius"><br><br>

        <label>Išleidimo data:</label><br>
        <input type="text" name="isleidimo_data"><br><br>

        <label>IMDB:</label><br>
        <input type="text" name="imdb"><br><br>

        <button type="submit">Pridėti</button>
    </form>
</body>
</html>
