<!DOCTYPE html>
<html lang="lt">
<head>
    <meta charset="UTF-8">
    <title>Redaguoti filmą</title>
</head>
<body>
    <h1>Redaguoti filmą</h1>
    <form method="POST">
        <label>Pavadinimas:</label><br>
        <input type="text" name="pavadinimas" value="{{ filmas.pavadinimas }}"><br><br>

        <label>Žanras:</label><br>
<select name="zanras_id" style="width: 177px; padding: 1px 2px;">
    {% for zanras in zanrai|sort(attribute='pavadinimas') %}
        <option value="{{ zanras.id }}" {% if zanras.id == filmas.zanras_id %}selected{% endif %}>
            {{ zanras.pavadinimas }}
        </option>
    {% endfor %}
</select><br><br>

        <label>Režisierius:</label><br>
        <input type="text" name="rezisierius" value="{{ filmas.rezisierius }}"><br><br>

        <label>Išleidimo metai:</label><br>
        <input type="number" name="isleidimo_data" value="{{ filmas.isleidimo_data.year }}" min="1900" max="2100" step="1"><br><br>

        <label>IMDB:</label><br>
        <input type="number" name="imdb" value="{{ filmas.imdb }}" step="0.1"><br><br>

        <button type="submit">Išsaugoti</button>
    </form>
</body>
</html>
