<!DOCTYPE html>
<html>
<head>
    <title>Filmai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>IMDB TOP 250 filmų sąrašas</h1>

    <a href="{{ url_for('prideti_filma') }}" style="padding: 5px 10px; background-color: #eee; border: 1px solid #ccc; text-decoration: none; border-radius: 5px;">
        Pridėti filmą
    </a>

    <form method="get" action="/" style="margin-top: 15px;">
        <select name="zanras_id" style="width: 177px;">
            <option value="">Visi žanrai</option>
            {% for zanras in zanrai %}
                {% set selected = 'selected' if request.args.get('zanras_id') == zanras.id|string else '' %}
            <option value="{{ zanras.id }}" {{ selected }}>
                {{ zanras.pavadinimas }}
            </option>
            {% endfor %}
        </select>

        <select name="imdb_range" style="width: 130px;">
    <option value="">Visi įvertinimai</option>

    {% for r in ['1-3', '3-6', '6-8', '8-10'] %}
        {% set selected = 'selected' if request.args.get('imdb_range') == r else '' %}
        <option value="{{ r }}" {{ selected }}>
            {{ r.replace('-', ' - ') }}
        </option>
    {% endfor %}
        </select>

        <input type="text" name="search" placeholder="Ieškoti pagal pavadinimą arba režisierių" value="{{ request.args.get('search', '') }}">
        <button type="submit">Filtruoti</button>
    </form>

    {% if filmai %}
    <ul>
        {% for filmas in filmai %}
            <li>
                <strong>{{ loop.index }}. {{ filmas.pavadinimas }}</strong> <br>
                Žanras: {{ filmas.zanras.pavadinimas if filmas.zanras else 'Nežinomas žanras' }}<br>
                Režisierius: {{ filmas.rezisierius }}<br>
                Metai: {{ filmas.isleidimo_data.year }}<br>
                IMDB: {{ filmas.imdb }}

                <a href="{{ url_for('redaguoti_filma', id=filmas.id) }}">Redaguoti</a>
                <form action="{{ url_for('istrinti_filma', id=filmas.id) }}" method="post" style="display:inline;">
                    <button type="submit">Ištrinti</button>
                </form>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p style="margin-top: 20px;">Pagal jūsų filtrą ar paiešką filmų nerasta.</p>
{% endif %}
</body>
</html>
