<!DOCTYPE html>
<html>
<head>
    <title>Filmai</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Filmų sąrašas</h1>
    <ul>
        {% for filmas in filmai %}
            <li>
                <strong>{{ filmas.pavadinimas }}</strong> <br>
                Žanras: {{ filmas.zanras.pavadinimas }}<br>
                Režisierius: {{ filmas.rezisierius }}<br>
                Data: {{ filmas.isleidimo_data }}<br>
                IMDB: {{ filmas.imdb }}
            </li>
        {% else %}
            <li>Dar nėra filmų.</li>
        {% endfor %}
    </ul>
</body>
</html>
